In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
import seaborn as sns
%matplotlib inline

## Mean

In [4]:
a= [2,4,6,8]
print(np.mean(a))
print("a: %s as np.mean(a): %s" %(str(a), np.mean(a)))

5.0
a: [2, 4, 6, 8] as np.mean(a): 5.0

## Harmonic Mean

In [5]:
from scipy import stats
a=[1,1,1,1,1000]
print(stats.hmean(a))

1.24968757811

## Median

In [6]:
a = [1,2,3,4,5]
print("median(a) : %s" % np.median(a))
b = [1,2,3,4,5,6]

median(a) : 3.0

In [11]:
df = pd.read_csv('iris.csv')
df.head()
df.describe()
df.shape

#calculate standard deviation

(150, 5)

In [12]:
df[['sepal_length', 'petal_length']].corr()

              sepal_length  petal_length
sepal_length      1.000000      0.871754
petal_length      0.871754      1.000000

In [13]:
df.corr()

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      1.000000    -0.109369      0.871754     0.817954
sepal_width      -0.109369     1.000000     -0.420516    -0.356544
petal_length      0.871754    -0.420516      1.000000     0.962757
petal_width       0.817954    -0.356544      0.962757     1.000000

## Standard deviation

In [18]:
#COME BACK TO THIS
#DIFFERENT SYNTAX WHY?? Look atr his notes
#std Nump
print("Standard deviation (Numpy) %0.4f" % np.std.(df['sepal_length'])
      
#std Pandas
print("Standard deviation (Pandas) %0.4f" % df(sepal_length.std())

SyntaxError: invalid syntax (<ipython-input-18-a1e06e0180dc>, line 3)

## Exercise

In [35]:
df = pd.read_csv('online_retail_clean.csv')
df.shape

C:\Users\Monica Farid\Anaconda2\envs\gads2\lib\site-packages\IPython\core\interactiveshell.py:2723: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(541909, 8)

In [21]:
#Remove rows with neg quant
#unit prices zero
#rows with missing values
df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [50]:
cond1=(df.Quantity <0)
df = df[~cond1]
df.shape

cond2 = (df.UnitPrice ==0 )
df= df[~cond2]
df.shape

df=df.dropna()
df.shape

#Testing
#df=df.dropna(subset=['CustomedID', 'UnitPrice'])
df.shape
df.isnull().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

## Stats on the data
* Mean Median and Std

In [54]:

vars = ['Quantity', 'UnitPrice']

#Mean
for i in range(0, len(vars)):
    print("Mean", vars[i])
    print(df[vars[i]].mean())


#Median
for i in range(0, len(vars)):
    print("Median", vars[i])
    print(df[vars[i]].median())


#Std
for i in range(0, len(vars)):
    print("Standard Deviation", vars[i])
    print(np.std(df[vars[i]]))

Mean Quantity
12.9882377778
Mean UnitPrice
3.11648775523
Median Quantity
6.0
Median UnitPrice
1.95
Standard Deviation Quantity
179.331549606
Standard Deviation UnitPrice
22.0978488616

## Some more exploration

In [55]:
df.describe()

            Quantity      UnitPrice     CustomerID
count  397884.000000  397884.000000  397884.000000
mean       12.988238       3.116488   15294.423453
std       179.331775      22.097877    1713.141560
min         1.000000       0.001000   12346.000000
25%         2.000000       1.250000   13969.000000
50%         6.000000       1.950000   15159.000000
75%        12.000000       3.750000   16795.000000
max     80995.000000    8142.750000   18287.000000